
<html xmlns="http://www.w3.org/1999/html" dir="rtl">
<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>

  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static "css/insurance.css" %}"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue lighten-1">
              <a href="" class="brand-logo center">נעמן</a>
              <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                <li class="contact"><a href="#">צור קשר</a></li>
                <li class="insurance"><a href="#">סוגי ביטוחים</a></li>
                <li class="agency active"><a href="#">על הסוכנות</a></li>
              </ul>
                </div>
        </nav>
    </div>

    <ul class="side-nav" id="mobile-demo">
        <li class="agency active"><a href="#">על הסוכנות</a></li>
        <li class="insurance"><a href="#">סוגי ביטוחים</a></li>
        <li class="contact"><a href="#">צור קשר</a></li>
    </ul>

    <div class="content" align="center">
        <div class="agency">
            <h2>נעמן סוכנות לביטוח</h2>
            <p>נעמן סוכנות לביטוח קיימת כבר כ 20 שנה ומתמחה במגוון ביטוחים החל מאלמנטרי, פנסיה, חיים וכו'.</p>
            <p>אנחנו בנעמן סוכנות לביטוח מאמינים במבוטח במרכז</p>

            <!-- #region Jssor Slider Begin -->
            <div id="jssor_1" class="jssor_1">
            <!-- Loading Screen -->
            <div data-u="loading" class="loading">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('static/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
            <div data-u="slides" class="slides">
            <div>
                {% load static %}
                <img data-u="image" src="{% static "img/family.jpeg" %}" />
            </div>
            <div>
                {% load static %}
                <img data-u="image" src="{% static "img/stamp.jpeg" %}" />
            </div>
            <div>
                {%load static %}
                <img data-u="image" src="{% static "img/umbrella.jpeg" %}" />
            </div>
            <div>
                {%load static %}
                <img data-u="image" src="{% static "img/saving.jpeg" %}" />
            </div>
        </div>
            <!-- Bullet Navigator -->
            <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
            <!-- Arrow Navigator -->
            <span data-u="arrowleft" class="jssora12l" style="top:0px;left:0px;width:30px;height:46px;" data-autocenter="2"></span>
            <span data-u="arrowright" class="jssora12r" style="top:0px;right:0px;width:30px;height:46px;" data-autocenter="2"></span>
        </div>
            <!-- #endregion Jssor Slider End -->

    </div>
        <div class="insurance" >
            <h1>ביטוחי רכב:</h1>
            <h3>ביטוח צד ג:</h3>
            <p>ביטוח צד ג' מכסה פגיעות שבוא המבוטח שלנו הוא האשם</p>
        </div>
        <div class="contact">
            <h1>דרכי יצירת קשר:</h1>
            <p>טלפון במשרדינו:</p>
            <a href="tel:036341490">036341490</a>
            <p>אימייל:</p>
            <a href="mailto:amosna2@gamil.com">amosna2@gmail.com</a>
            <p>כתובת:
            יקותיאל אדם 22</p>
        </div>
    </div>

</body>
{% load static %}
<script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}" ></script>
{% load static%}
<script type="text/javascript" src="{% static "js/materialize.min.js" %}" ></script>
{% load static %}
<script src="{% static "js/jssor.slider-23.1.0.min.js" %}" type="text/javascript"></script>
{% load static%}
<script type="text/javascript" src="{% static "js/insurance.js" %}" ></script>
</html>
